[user]
	name = Mike Pirog
	email = mike@tanaab.dev
	signingkey = /Users/pirog/.ssh/id_pirog.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true

[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-lando
[includeIf "gitdir:~/lando/"]
	path = ~/.gitconfig-lando

[gpg "ssh"]
	allowedSignersFile = /Users/pirog/.config/git/allowed_signers
